@import "tailwindcss";

@source "../**/*.astro";
@source "../**/*.md";
@source "../**/*.mdx";

@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@layer base {
	body {
		font-family: "Atkinson", sans-serif;
		font-size: 16px;
		line-height: 1.5;
		color: rgb(55 65 81);
		background: linear-gradient(to bottom, rgb(241 245 249), white);
	}

	h1 {
		font-size: 3rem;
		font-weight: 700;
		margin-bottom: 0.5rem;
		color: rgb(15 23 42);
		line-height: 1.2;
	}

	h2 {
		font-size: 2.25rem;
		font-weight: 700;
		margin-bottom: 0.5rem;
		color: rgb(15 23 42);
		line-height: 1.2;
	}

	h3 {
		font-size: 1.875rem;
		font-weight: 700;
		margin-bottom: 0.5rem;
		color: rgb(15 23 42);
		line-height: 1.2;
	}

	h4 {
		font-size: 1.5rem;
		font-weight: 700;
		margin-bottom: 0.5rem;
		color: rgb(15 23 42);
		line-height: 1.2;
	}

	h5 {
		font-size: 1.25rem;
		font-weight: 700;
		margin-bottom: 0.5rem;
		color: rgb(15 23 42);
		line-height: 1.2;
	}

	h6 {
		font-size: 1.125rem;
		font-weight: 700;
		margin-bottom: 0.5rem;
		color: rgb(15 23 42);
		line-height: 1.2;
	}

	strong,
	b {
		font-weight: 700;
	}

	a {
		color: rgb(37 99 235);
		transition-property: color;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;
	}

	a:hover {
		color: rgb(29 78 216);
	}

	p {
		margin-bottom: 1rem;
	}

	textarea {
		width: 100%;
		font-size: 16px;
	}

	input {
		font-size: 16px;
	}

	table {
		width: 100%;
	}

	img {
		max-width: 100%;
		height: auto;
		border-radius: 0.5rem;
	}

	code {
		padding: 0.125rem 0.25rem;
		background-color: rgb(226 232 240);
		border-radius: 0.25rem;
		font-size: 0.875rem;
	}

	pre {
		padding: 1.5rem;
		border-radius: 0.5rem;
		overflow-x: auto;
	}

	pre code {
		all: unset;
	}

	blockquote {
		border-left: 4px solid rgb(37 99 235);
		padding-left: 1.25rem;
		font-size: 1.125rem;
		font-style: italic;
	}

	hr {
		border: none;
		border-top: 1px solid rgb(226 232 240);
	}

	.sr-only {
		border: 0;
		padding: 0;
		margin: 0;
		position: absolute !important;
		height: 1px;
		width: 1px;
		overflow: hidden;
		clip: rect(1px 1px 1px 1px);
		clip-path: inset(50%);
		white-space: nowrap;
	}
}
