---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="w-full max-w-2xl mx-auto py-12 px-4">
			<h1 class="mb-6">Hello, Astronaut!</h1>
			<p class="mb-6">
				Welcome to the official <a href="https://astro.build/" class="text-blue-600 hover:text-blue-700">Astro</a> blog starter template. This template
				serves as a lightweight, minimally-styled starting point for anyone looking to build a personal
				website, blog, or portfolio with Astro.
			</p>
			<p class="mb-6">
				This template comes with a few integrations already configured in your
				<code class="bg-slate-200 px-2 py-1 rounded text-sm">astro.config.mjs</code> file. You can customize your setup with
				<a href="https://astro.build/integrations" class="text-blue-600 hover:text-blue-700">Astro Integrations</a> to add tools like Tailwind,
				React, or Vue to your project.
			</p>
			<p class="mb-6 font-semibold">Here are a few ideas on how to get started with the template:</p>
			<ul class="mb-6 list-disc list-inside space-y-2">
				<li>Edit this page in <code class="bg-slate-200 px-2 py-1 rounded text-sm">src/pages/index.astro</code></li>
				<li>Edit the site header items in <code class="bg-slate-200 px-2 py-1 rounded text-sm">src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code class="bg-slate-200 px-2 py-1 rounded text-sm">src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code class="bg-slate-200 px-2 py-1 rounded text-sm">src/content/blog/</code></li>
				<li>Customize the blog post page layout in <code class="bg-slate-200 px-2 py-1 rounded text-sm">src/layouts/BlogPost.astro</code></li>
			</ul>
			<p class="mb-6">
				Have fun! If you get stuck, remember to
				<a href="https://docs.astro.build/" class="text-blue-600 hover:text-blue-700">read the docs</a>
				or <a href="https://astro.build/chat" class="text-blue-600 hover:text-blue-700">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out
				<a href="https://github.com/Charca/astro-blog-template" class="text-blue-600 hover:text-blue-700">astro-blog-template</a>
				by <a href="https://twitter.com/Charca" class="text-blue-600 hover:text-blue-700">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
