---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header class="bg-white shadow-sm">
	<nav class="flex items-center justify-between px-4">
		<h2 class="text-base font-normal m-0">
			<a href="/" class="no-underline text-slate-900 hover:text-blue-600">{SITE_TITLE}</a>
		</h2>
		<div class="flex items-center gap-4">
			<div class="flex items-center gap-4">
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/blog">Blog</HeaderLink>
				<HeaderLink href="/about">About</HeaderLink>
			</div>
			<a href="https://www.linkedin.com/in/baptiste-morgavi-3a17a7266/?originalSubdomain=fr" target="_blank" class="hidden md:flex">
				<span class="sr-only">Visitez mon profil LinkedIn</span>
				<img src="/linkedin.svg" alt="LinkedIn" class="w-4 h-4" />
			</a>
		</div>
	</nav>
</header>
